<div class="container">
    <div class="row d-flex justify-content-center mt-5">

        <div class="card col-12 col-lg-10">
            <div class="card-body">
              <h5 class="card-title">{{title}}</h5>
              <p class="card-text">{{content}}</p>
              <p class="card-text">{{updatedAt}}</p>
              <p class="card-text">Created by: {{User.username}}</p>

            </div>
        </div>

    </div>
</div>