<div class="container">
    <div class="row mt-5">
        <h1>Welcome back, {{username}}!</h1>
        <div class="card col-12 my-5">
            <div class="card-body">
                <h2 class="card-title  mt-2 mb-3">Create a New Post</h2>
                <form id="newBlog">
                    <div class="mb-3">
                        <label for="title" class="form-label">Post Title</label>
                        <input type="text" class="form-control" id="title" placeholder="Title">
                      </div>
                      <div class="mb-3">
                        {{!-- <label for="content" class="form-label">Post Content</label> --}}
                        <textarea class="form-control" id="content" rows="6" placeholder="Content"></textarea>
                    </div>
                    <div class="d-grid gap-2 my-3">
                        <button type="Submit" class="btn btn-dark">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <h1>My Posts</h1>
    </div>
    <div class="row d-flex justify-content-center my-4">
    {{#each userBlogs}}
        <div class="card col-12">
            <div class="card-body">

              <h5 class="card-title">
                  {{userBlogs.title}}
                  </h5>
              <p class="card-text">Date of Creation</p>
              <a href="#" class="btn btn-dark">Read More</a>
            </div>
        </div>
    {{/each}}
    </div>

</div>
<script src="/js/dashboard.js"></script>